@import '../../../node_modules/include-media/dist/_include-media.scss';
.navBar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 50rem 0;
    @include media('<=tablet'){
        height: 42rem;
        top: 20rem;
    }
    .img_div{
        display: flex;
        justify-content: center;
        
    }
    ul{
        max-width: 800rem;
        width: 300rem;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        @include media('<=tablet'){
            display: none;
            top: 100rem;
            flex-direction: column;
            text-align: center;
            gap: 15rem;
            
        }
    }
    li{
        display: flex;
        @include media('<=tablet'){
            display: block;
            height: 40rem;
        }
    }
    a{
        font-size: 16rem;
        text-decoration:none;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        @include media('<=tablet'){
            padding: 0;
            padding: 10rem 20rem;
        }
    }
    a:hover{
        border-bottom: 1rem solid #2fc1ff;
        transition: 0.1s;
        @include media('<=tablet'){
            border-bottom: 2rem solid #2fc1ff;
        }
    }
    a.router-link-exact-active{
        color: #2fc1ff;
    }
    .LogoLink{
        @include media('<=tablet'){
            max-width: 150rem;
            min-height: 110rem;
        }
    }
    .navBar__Menu{
        display: none;
        @include media('<=tablet'){
            display:block;
            position: absolute;
            max-width: 30rem;
            top: 50rem;
            right: 10rem;
        }
    }
}

.navBar__LogoLink:hover, .navBar__LogoLink.router-link-exact-active{
   
   border-bottom: 0rem !important;
   background: none !important;
   background-color: none !important;
    
}

.navBar__MobileMenu{
    @include media('<=tablet'){
    position:fixed;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin:0 auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    z-index: 100;
    ul{
        display: flex;
    }
    a{
        font-size: 16rem;
    }
    .navBar__LogoLink{
        position: absolute;
        top: 0;
    }
}
    
}




