@import '../../../node_modules/include-media/dist/_include-media.scss';

.products_intro_section{
    background-image: url('../../../public/resources/images/background.jpg');
    background-size: cover;
}

.products_intro_section_text{
    display: grid;
    max-width: 1200rem;
    margin: 0 auto ;
    text-align: center;
    color:white;
    @include media('<=tablet'){
        margin: 100rem auto 0rem;
    }
    h1{
        font-size: 80rem;
        padding: 0 0 100rem;
        @include media('<=tablet'){
            font-size:30rem;
            padding: 10rem;
        }
    }
}

.our_products{
    width: 100%;
    h4{
        font-size: 26rem;
        text-align: center;
        margin: 100rem 0 0;
    }
    h1{
        color: black;
        font-size: 40rem;
        text-align: center;
        margin: 10rem auto 100rem;
    }
}

.list_of_products_flex{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list_of_products{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-size:cover;
    h2{
        font-size: 20rem;
        margin: 250rem 0 0 30rem;
        color: white;
        @include media('<=tablet'){
           font-size: 20rem;
        }
    }
    p{
        margin: 10rem 0 40rem 30rem;
        color: white;
        font-size: 14rem;
        @include media('<=tablet'){
            font-size: 12rem;
        }
    }
}